<!-- <h1>Static Header.hbs Text</h1>-->

<header>
    <!-- title will have to be send through render to every hbs file where it will be included-->
    <h1>{{title}}</h1>

    <!--Navigation bar with links to switch between pages-->
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>